@import "tailwindcss";

:root {
  --shadow-custom: 0 1px 10px 5px rgba(0, 0, 0, 0.1),
    0 1px 10px 5px rgba(0, 0, 0, 0.06);
}

@theme {
  --shadow-edit {
    box-shadow: var(--shadow-custom);
  }
}

.shadow-custom {
  box-shadow: var(--shadow-custom);
}

* {
  font-family: "Chonburi";
}

.primary-color {
  color: #dccfc0;
}

.secondary-color {
  color: #a0937d;
}

.third-color {
  color: #504b38;
}

.bg-primary {
  background-color: #dccfc0;
}

.bg-secondary {
  background-color: #a0937d;
}

.bg-third {
  background-color: #504b38;
}
