@import "tailwindcss";

:root {
  --shadow-custom: 0 1px 10px 5px rgba(0, 0, 0, 0.1),
    0 1px 10px 5px rgba(0, 0, 0, 0.06);
}

@theme {
  --shadow-edit {
    box-shadow: var(--shadow-custom);
  }
}

.shadow-custom {
  box-shadow: var(--shadow-custom);
}

* {
  font-family: "Chonburi";
}

.primary-color {
  color: #dccfc0;
}

.secondary-color {
  color: #a0937d;
}

.third-color {
  color: #504b38;
}

.bg-primary {
  background-color: #dccfc0;
}

.bg-secondary {
  background-color: #a0937d;
}

.bg-third {
  background-color: #504b38;
}

@keyframes slideIn {
  from {
    transform: translateX(400px) scale(0.9);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateX(400px) scale(0.9);
    opacity: 0;
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-slide-in {
  animation: slideIn 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.animate-ping {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
